<section>
    <h1>{{title}}</h1>
    <div>

        <h2>{{people.firstName}}
            {{people.lastName}}</h2>
        <dl>
            <dt>ID</dt>
            <dd>{{people.id}}</dd>
            <dt>First Name</dt>
            <dd>{{people.firstName}}</dd>
            <dt>Last Name</dt>
            <dd>{{people.lastName}}</dd>
            <dt>Address</dt>
            <dd>{{people.address}}</dd>
            <dt>Zip Code</dt>
            <dd>{{people.zip}}</dd>
            <dt>Phone</dt>
            <dd>{{people.phone}}</dd>
            <dt>Social Security Number</dt>
            <dd>{{people.ssn}}</dd>
        </dl>
    </div>
</section>