<section>
    <h1>{{title}}</h1>
    {{#if people}}
    <div>
        <ul>
            {{#each people}}
            <li>
                <a href="/details/{{id}}">{{firstName}} {{lastName}}</a>
            </li>
            {{/each}}
        </ul>
            {{else}}
                <p class="not-found">We're sorry, but no results were found for {{personName}}.</p>
    </div>
    {{/if}}
    <div>
        <a href="/">Make another search</a>
    </div>
</section>